.presale {
    background: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        position: absolute;
        right: 5%;
        top: 5%;
        color: #3ab8fe;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .error {

        div {
            margin-left: 50%;
            margin-right: 50%;
            transform: translate(-50%);
            height:100px;
            width: 100px;
            border-radius:50%;
            background-color: blue;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius:50%;
            }
           
        }
        h3 {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            margin-top: 2%;
        }
    }

    form {
        width: 50%;
        //height: 80%;
        border-radius: 12px;
         padding: 2%;
         
         h3 {
             text-align: center;
         }

        div {
            input {
                width: 100%;
                padding: 2%;
                border-radius: 5px;
                outline: none;
                background: none;
                border: 1px solid  #ddd;
                color: #3ab8fe;

                &::placeholder {
                    color: #3ab8fe;
                }

                &:focus {
                    border: 1px solid  #3ab8fe;
                }
            }

            button {
                padding: 2%;
                width: 100%;
                margin-top: 5%;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .presale {
        .icon {
            position: absolute;
            right: 5%;
            top: 5%;
            color: #3ab8fe;
            font-size: 1rem;
            cursor: pointer;
        }

        .error {

            div {
                height:70px;
                width: 70px;
               
            }
            h3 {
                font-size: 1rem;
            }
        }
    
        form {
            h3 {
                font-size: 1rem;
            } 
            
             button {
                 padding: 3%;
                 
             }
        }
    }
}

@media screen and (max-width:768px) {
    .presale {
        background: rgba($color: #000000, $alpha: 0.7);
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        
        form {
            width: 90%;

            div {
                input {
                    padding: 3%;
                }
            }
        }
    }
}